.cartSection {
    width: 100%;
    height: auto;
    padding: 35px 0px;
}

.cartSection .clearCart {
    font-weight: 500;
    font-size: 18px;
}

.cartSection .clearCart svg {
    font-size: 25px;
}

.cartWrapper table thead tr th {
    background: #f1f1f1;
    overflow: hidden;
    /* border-top-width: 1px; */
    border: 0;
}

.cartWrapper table thead th:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.cartWrapper table thead th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cartWrapper table tbody td {
    vertical-align: middle;
    border: 0;
}

.cartWrapper table tbody td .img {
    width: 150px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cartWrapper table tbody td .info a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.cartWrapper table tbody tr td span {
    font-weight: 600;
    font-size: 28px;
}

.cartWrapper table tbody tr td span.text-g {
    font-weight: bold;
}

.cartRightBox {
    padding-left: 200px;
}