@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css);


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#root {
  zoom: 65%;
}

.container-fluid {
  padding: 0px 45px;
}

.cursor {
  cursor: pointer;
}

.btn-border {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  padding: 10px 25px !important;
  border-radius: 5px !important;
  color: #000 !important;
}

.btn-border svg {
  opacity: 0.5;
}

.btn-border:hover {
  border: 1px solid #3bb77e !important;
  background: #3bb77e !important;
  color: #fff !important;
}

.btn-border:hover svg {
  opacity: 1 !important;
}

.btn-g a {
  color: #fff !important;
  text-decoration: none;
}

.btn-g {
  background: #3bb77e !important;
  padding: 10px 25px !important;
  border-radius: 10px !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.btn-g:hover {
  background: #fdc040 !important;
}

.btn-lg {
  font-size: 24px !important;
  padding: 10px 25px !important;
}

.bg-g,
.bg-success {
  background: #3bb77e !important;
}

.text-g {
  color: #3bb77e;
}

.text-org {
  color: #fdc040 !important;
}

.text-light {
  color: #8b8b8b !important;
}

p {
  color: #7e7e7e;
}

.hd {
  font-size: 37px;
  font-weight: 600;
  margin-bottom: 20px;
}

.transition {
  transition: all 0.3s ease-in-out;
}

/* Thumsin Products info  */
.price {
  font-size: 25px;
  margin-right: 20px;
}

.oldPrice {
  font-size: 20px;
  opacity: 0.6;
  color: #000;
  text-decoration: line-through;
}

/* START TOOLTIP STYLES */
[tooltip] {
  position: relative;
  /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  /* opinion 2 */
  font-size: 16px;
  /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  /* opinion 4 */
  z-index: 1001;
  /* absurdity 1 */
}

[tooltip]::after {
  content: attr(tooltip);
  /* magic! */

  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;

  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #3bb77e;
  color: #fff;
  z-index: 1000;
  /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #3bb77e;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
/* [tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
} */

/* FLOW: LEFT */
/* [tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}

[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
} */

/* FLOW: RIGHT */
/* [tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}

[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
} */

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

.listingPage {
  width: 100%;
  height: auto;
  padding: 45px 0px;
}

.breadCrumb {
  width: 100%;
  height: auto;
  padding: 45px 45px;
  background: #d8f1e5;
  border-radius: 20px;
  margin-bottom: 30px;
}

.breadCrumb h1 {
  color: #000;
  opacity: 0.8;
  font-size: 50px;
}

.breadCrumb ul li {
  margin-right: 15px !important;
}

.breadCrumb ul li a {
  color: #000;
  text-decoration: none;
  font-size: 22px;
}

.sidebarWrapper {
  max-width: 20%;
  flex: 0 0 20%;
}

.rightContent {
  max-width: 80%;
  flex: 0 0 80%;
}

.sidebarWrapper h3 {
  font-size: 32px;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.sidebarWrapper h3:after {
  content: "";
  width: 100%;
  height: 3px;
  background: #ccc;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.sidebarWrapper h3:before {
  content: "";
  width: 20%;
  height: 3px;
  background: #3bb77e;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}

.sidebarWrapper .sidebar {
  position: sticky !important;
  top: 120px;
}

.sidebarWrapper .sidebar .card {
  padding: 25px;
  border-radius: 10px !important;
  margin-bottom: 40px;
}

.sidebarWrapper .sidebar .card .catList .catItem {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.050);
  cursor: pointer;
  margin: 10px 0px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.sidebarWrapper .sidebar .card .catList .catItem h4 {
  color: #000;
  font-size: 18px;
}

.sidebarWrapper .sidebar .card .catList .catItem .rounded-circle {
  background: #bce3c9;
  font-size: 18px;
  width: 40px;
  height: 40px;
}

.sidebarWrapper .sidebar .card .catList .catItem:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.priceRange span {
  font-size: 20px;
}

.filters {
  padding: 25px 0px;
}

.filters h5 {
  font-weight: 600;
}

.filters ul {
  max-height: 200px;
  overflow-y: scroll;
  margin-left: -10px;
}

.filters ul::-webkit-scrollbar {
  width: 10px !important;
}

.filters ul::-webkit-scrollbar-thumb {
  background: #ccc;
}

.filters ul li {
  width: 100%;
  margin-bottom: 0px;
  list-style: none;
}

.filters .sidebar .btn {
  width: 150px !important;
}

.rightContent .topStrip {
  padding: 0px 25px;
}

.rightContent .topStrip p {
  font-size: 20px;
}

.rightContent .topStrip .tab_ {
  width: 200px;
}

.rightContent .topStrip .tab_ .btn_ {
  background: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  padding: 7px 20px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7) !important;
  border-radius: 10px;
  font-size: 16px !important;
  width: 100% !important;
  justify-content: flex-start !important;
}

.rightContent .topStrip .tab_ .btn_ svg {
  opacity: 0.8;
}

.rightContent .topStrip .tab_ .dropMenu {
  top: 100% !important;
}

.breadcrumbWrapper {
  width: 100%;
  height: auto;
  padding: 25px 0px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.1) !important; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #fff;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #3bb77e;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #3bb77e;
  text-decoration: underline;
}

.containerDetails {
  max-width: 85%;
  padding: 30px 0px;
  margin: auto;
}

.detailsPage .productInfo {
  padding-left: 80px;
}

.detailsPage .productInfo h1 {
  font-size: 55px;
  font-weight: bold;
  opacity: 0.8;
}

.detailsPage .productInfo .priceSec .priceLrg {
  font-size: 60px;
  font-weight: bold;
}

.detailsPage .productInfo .priceSec .text-org {
  font-size: 16px;
  font-weight: 600;
}

.detailsPage .productInfo .priceSec .text-light.oldPrice {
  font-size: 30px !important;
  font-weight: 600;
}

.productZoom {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  overflow: hidden;
  border-radius: 15px;
}

.productZoom figure,
.productZoom figure img {
  width: 100%;
}

.zoom_slider {
  padding-top: 30px;
}

.zoom_slider .slick-slide {
  padding-right: 20px !important;
}

.zoom_slider * {
  outline: none !important;
}

.zoom_slider .item {
  border: 2px solid transparent !important;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}

.zoom_slider .slick-current .item {
  border: 2px solid #3bb77e !important;
}

.zoom_slider .slick-arrow {
  top: 60% !important;
  zoom: 80%;
}

.zoom_slider .slick-arrow.slick-next {
  right: -2% !important;
}

.zoom_slider .slick-arrow.slick-prev {
  left: -5% !important;
}

.productSize {
  width: 100%;
  height: auto;
}

.productSize ul li {
  margin-right: 10px !important;
}

.productSize ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px !important;
  cursor: pointer;
  text-decoration: none !important;
  color: #000;
  font-size: 18px !important;
  transition: all 0.1s ease-in-out;
}

.productSize ul li a.active {
  background: #3bb77e !important;
  color: #fff !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.addCartSection {
  width: 100%;
  height: auto;
}

.addCartSection .counterSec {
  width: 120px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #3bb77e !important;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

.addCartSection .counterSec input {
  width: 60px;
  height: 40px;
  padding: 5px;
  border: 0px;
  outline: none !important;
  text-align: center;
}

.addCartSection .counterSec .arrow {
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
}

.addCartSection .counterSec .arrow.plus {
  top: -5px;
  right: 10px;
}

.addCartSection .counterSec .arrow.minus {
  bottom: -5px;
  right: 10px;
}

.addToCart svg {
  font-size: 28px !important;
}

.addCartSection button {
  height: 60px;
  min-width: inherit !important;
}

.addCartSection button svg {
  font-size: 28px !important;
}

.card {
  border-radius: 10px !important;
}

.detailPageTab {
  border-radius: 25px;
}

.customTabs ul li {
  margin-right: 30px !important;
}

.customTabs ul li button.active {
  color: #3bb77e !important;
}

.customTabs ul li button {
  padding: 10px 25px !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  font-size: 20px !important;
  text-transform: capitalize !important;
  border-radius: 30px !important;
  color: #000 !important;
}

.reviwsCard {
  margin-bottom: 25px !important;
}

.reviwsCard .image {
  width: 100px;
}

.reviwsCard .rounded-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.reviwsCard .rounded-circle img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.reviewForm .form-group {
  margin-bottom: 25px;
}

.reviewForm .form-group {
  margin-bottom: 25px;
}

.reviewForm .form-group .form-control {
  height: 60px;
  font-size: 20px;
  border-radius: 7px !important;
  padding-left: 20px;
}

.reviewForm .form-group textarea.form-control {
  height: 200px;
  padding: 25px;
}

.progress_bar_box {
  margin-bottom: 10px;
}

.relatedProducts .item {
  padding: 15px 5px;
  padding-right: 25px !important;
}